@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="text-center">
           <h1 class="display-4">Welcome</h1>
           <h2 class="display-5">Choose your Page</h2>

    <a href="StudentCRUD/GetStudents" class="btn btn-primary " role="button" aria-disabled="true">Studdent CRUD</a>
    <a href="TeacherCRUD/GetTeachers" class="btn btn-secondary " role="button" aria-disabled="true">Teacher CRUD</a>
    <a href="ClassCRUD/GetClasses" class="btn btn-warning " role="button" aria-disabled="true">Class CRUD</a>
    <br />
    <br />
    <a href="ClassesSchedule/GetClassesSchedule" class="btn btn-danger" role="button" aria-disabled="true">Class Schedual</a>


</div>

