@page
@model languageInstituteProject.Pages.TeacherCRUD.EditTeacherModel
@{
}

<h1>Edit Teacher</h1>

<div class="row">
    <form method="post">

        <input type="hidden" asp-for="Teachers.Id" />
        <div class="form-group">
            <label asp-for="Teachers.Name"></label>
            <input asp-for="Teachers.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Teachers.Email"></label>
            <input asp-for="Teachers.Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Teachers.PhoneNumber"></label>
            <input asp-for="Teachers.PhoneNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Teachers.classes">Class Number</label>
            <select size="" asp-for="Teachers.classes" asp-items="Model.Options"></select>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-warning" />
            <a href="GetTeachers" class="btn btn-outline-primary" role="button" aria-disabled="true">Back to list</a>

        </div>

    </form>
</div>