@page
@model languageInstituteProject.Pages.StudentCRUD.CreateStudentModel
@{
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


<form method="post">

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Class Number</th>
            </tr>
        </thead>

        <tbody>
            <tr>

            </tr>
        </tbody>

    </table>

</form>